.back{
    background-color: rgba(69,69,70,1);
}
/* .back {
    border: 2px solid rgb(187,157,23) !important;
} */
.back .active{
    border-color: none;
   color: transparent !important;
}
.carousel-inner{
    border :5px solid rgb(221, 191, 23) !important;
    border-radius: 5px;
  
}
.goldenline{
    border :5px solid rgb(221, 191, 23) !important;
    border-radius: 5px;
    
}

@media only screen and (max-width:736px){
    .goldenline{
        border :none!important;
        border-radius: 5px;
        /* margin-top:0px !important; */
        margin: 0px !important;
        padding: 2px !important;
    }
    .goldenline img{
       /* height: 150px; */
       border :5px solid rgb(221, 191, 23) !important;
       border-radius: 5px;
    }
}